body {
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/-hnnJox/visualization-of-bright-dots-moving-around-a-dark-background_n1l_mmuu__F0000.png');
  background-size: cover;
  padding-bottom: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.logo {
  float:right;
  color: white;
}

.developers-bar {
  margin: 20px;
}

.developer {
  margin: 10px;
}

.img-circle {
  border-radius: 100px;
  width: 90px;
  height: 90px;
  margin: 10px;
}

.in-progress {
  position: relative;
  width: 200px;
  background-color: white;
  top: 65px;
  left: -50px;
}

.in-progress-task {
  position: relative;
  height: 90px;
  border: 2px solid #efefef;
  border-left: 15px solid red;
}

.in-progress-task, h4{
  text-align: center;
}

.owner {
  font-size: 8px;
  list-style: none;
}

.point {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  color: blue;
  font-size: 18px;
}

.dashboard{
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
}

.title-container{
  border-bottom: 2px solid white;
  color: white;
}

.section {
  width: 25%;
  border: 2px solid white;
  height: 100vh;
}

.section-body {
  padding-top: 20px;
}

.card {
  width: 250px;
  height: 100px;
  background-color: white;
  margin: auto;
  text-align: center;
  border-left: 15px solid red;
  margin-bottom: 30px;
}

/* .card :hover{
  background-color: blue;
} */

.select {
  position: relative;
  background-color: white;
  width: 250px;
  left: 200px;
  top: -90px;
  border: 2px solid #cecacc;
  z-index: 100;
}

.select-item {
  border: 2px solid #cecacc;
}

.type {
  color: purple;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
}

.select-item :hover{
  background-color: blue;
}

.loading {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}
